# ========================
# Node
# ========================
node_modules/
npm-debug.log*

# ========================
# Environment variables
# ========================
.env

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# Python
# ========================
__pycache__/
*.pyc

# ========================
# Databases / Vector DB
# ========================
chroma_aast/

# ========================
# Large / compressed files
# ========================
*.7z
*.zip
*.tar
*.gz

# ========================
# Frontend (ignore completely)
# ========================
frontend/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db